/*
!.gitignore
!README.org
!init.el
!install_deps

# track versions of installed packages
!straight
straight/*
!straight/versions
straight/versions/*
!straight/versions/default.el

!etc
etc/*
!etc/org-sql
!etc/conf.org
!etc/dashlogo.png

!local
local/*
!/local/lib

!.github

*.elc